* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	text-align: center;
	font-size: 14px;
}
#header {
	position: relative;
	margin-bottom: 80px;
}
#gradient {
	height: 200px;
	width: 100%;
	position: absolute;
	top: 0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#overlay {
	position: fixed;
	text-align: center;
}
#michaeltina {
	margin-top: 7%;
	width: 70%;
	padding-right: 14.5%;
	padding-left: 10%;
}
#whenwhere {
	margin-top: 3%;
	width: 23%;
}
#photo {
	width: 100%;
}
.section {
	margin: 0 50px 40px 50px;
	max-width: 800px;
	width: 80%;
	text-align: center;
	display: inline-block;
}
.section-detail {
	text-align: left;
	width: 40%;
	float: left;
	margin: 50px 5% 0 5%;
}
h1 {
	font-family: 'Open+Sans+Condensed', sans-serif;
	text-transform: uppercase;
	padding-bottom: 18px;
	color: #666;
	border-bottom: 1px solid #bbb;
	font-weight: 300;
	font-size: 1.5em;
}
h2 {
	font-family: 'Open+Sans+Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.4em;
	margin-top: 40px;
	margin-bottom: .4em;
}
p {
	margin-bottom: 1.4em;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#where {
	width: 80%;
	height: 80%;
}
#when {
	width: 70%;
	height: 70%;
	margin-top: 6%;
}
.window {
	text-align: center;
}
form {
	text-align: left;
}
ul {
	list-style-type: none;
}
.ss-q-title {
	opacity: .7;
	font-family: 'Open+Sans+Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.1em;
	padding-top: 40px;
	margin-bottom: 3px;
}
.ss-secondary-text {
	opacity: .5;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: 13px;
	padding-bottom: 10px;
}
.ss-q-short, textarea {
	height: 40px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: 14px;
	padding: 0 8px;
	outline: none;
}
textarea {
	width: 100%;
	height: 30px;
	padding-top: 10px;
}
.ss-choices {
	margin-left: 65px;
	margin-top: 2px;
	width: 100%
}
.short {
	float: left;
	width: 40%;
}
#ss-submit {
	margin-top: 40px;
}
.ss-navigate {
	width: 145px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.button {
	padding: 14px 40px 12px 40px;
	background-color: #DF8280;
	font-family: 'Open+Sans+Condensed', sans-serif;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	font-size: 1.4em;
	border: none;
	border-bottom: 2px solid #C8706E;
	outline: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
input[type=submit].button {
-webkit-appearance: none;
}
.button:hover {
	background-color: #D96663;
	border-bottom: 2px solid #C04543;
	cursor: pointer;
}
.button:active {
	border-top: 2px solid #C04543;
	border-bottom: none;
}
.coral, .accept {
	color: #DF8280;
}
.mint, .decline {
	color: #80CDB1;
}
input[type="radio"] {
	vertical-align:middle;
}
.accept, .decline {
	margin-top: 7px;
	font-family: 'Open+Sans+Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.1em;
}
.clear {
	clear: both;
}
#close {
	display: inline-block;
	cursor: pointer;
	padding: 20px;
	position: absolute;
	top: 0;
	right: 3px;
	font-size: 20px;
	opacity: .5;
}
#close:hover {
	opacity: 1;
	text-decoration: none;
}
#modal {
    visibility: hidden;
    position: fixed; 
    padding: 10px; 
    background-color: #ffffff;
    width: 80%;
    height: 85%;
    margin: 0 0 0 -40%;
    left:50%;
    z-index: 100; 
    overflow-y: auto;
    top: 5%;
}    
#fade {
    visibility: hidden; 
    position: fixed;  
    left: 0%; 
    top: 0%; 
    background-color: #333;
    -moz-opacity: 0.95;
    opacity: 0.95;
    filter: alpha(opacity=95);
    width: 100%;
    height: 100%;
    z-index: 90; 
}
.contents {
	margin-top: 5%;
}
@media screen and (max-width: 650px) {
	.section-detail {
		width: 100%;
		text-align: center;
		margin: 50px 0 0 0;
	}
	p, h2 {
		text-align: left;
	}
	#michaeltina {
		width: 90%;
		padding: 0;
		padding-right: 8%;
		padding-left: 2%;
	}
	#whenwhere {
		width: 40%;
	}
	h1, h2, .button {
		font-size: 1.2em;
	}
	#header {
		margin-bottom: 40px;
	}
	.section {
		margin: 0 20px 40px 20px;
	}
	#modal {
		width: 100%;
		height: 100%;
		margin: 0;
		left: -20px;
		top: 0;
	}
	.short {
		position: static;
		width: 100%;
	}
	.ss-q-title {
		padding-top: 30px;
		font-size: .9em;
	}
	.accept, .decline {
		font-size: .9em;
	}
	.ss-secondary-text {
		font-size: .8em;
	}
	.ss-choices {
		margin: 0;
		position: relative;
		top: -5px;
	}
	#photo {
		height: 150%;
		width: 150%;
		position: relative;
		left: -23%;
		z-index: -100;
	}

}